@(pollForm: Form[Poll])
@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }

@main("PollStarter") {

<div class="container">
    <div class="row">
        <div class="offset2">
            @helper.form(action = routes.Application.submitPoll(), 'class -> "form-horizontal") {

                <div class="controls">
                    <h2 class="">Start new poll</h2>
                </div>

                @helper.inputText(pollForm("name"), '_label -> "Name")

                <div class="controls">
                    <input type="submit" class="btn btn-success" value="Start"/>
                    <a class="btn" href="/">Cancel</a>
                </div>
            }
        </div>
    </div>
</div>

}
