@(polls: List[Poll])

@main("PollStarter") {

    <div class="container">

        <h1 class="text-center">List of Polls</h1>

        <div class="row">
            <div class="offset2">
                <table class="table" id="polls">
                    @polls.map { poll =>
                        <tr>
                            <td><h4><a href="@routes.Application.showPoll(poll.id)">@poll.name</a></h4></td>
                        </tr>
                    }
                </table>
                <a href="/poll" class="btn btn-success">Start new poll</a>
            </div>
        </div>
    </div>

}
